[configuration]
#benchmark type
benchmark = example

#system name
system = hypertable
#other system specific configuration
reset = 0
scalefactor = 1
warehouses = 4
duration = 60
ddl = ./
stop_on_error= 1
debug = 1

#processes per node
clientprocs = 2

#client node name or ip (splited by spaces)
clients = u1 

#path of the code on client side
path = ./code/BigBenchmark/
